*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.json
/assets
salt.env
.idea/misc.xml
.idea/caches/build_file_checksums.ser
*.jpg
*.zip

.idea/
/webrtc/build/
/app/release/
/app/debug/
/app/src/main/assets
/webrtc/src/main/assets/config.properties
/resource/src/unfpa/assets/
/resource/src/kcdo/assets/
/resource/src/ida/assets/

/app/reports/
/common/reports/
/config/reports/
/core/reports/
/data/network/reports/
/data/offline/reports/
/data/provider/reports/
/fcm/reports/
/features/installer/reports/
/features/ondemand/chat/reports/
/features/ondemand/mediator/reports/
/features/ondemand/video/reports/
/resource/reports/
